* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  color: hsl(0, 0%, 100%);
  font-family: 'Outfit', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {  
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: hsl(216, 50%, 16%);
  max-width: 16%;
  padding: 1.5rem;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube {
  display: block;
  width: 100%;
  border-radius: 10px;
}

h1 {
  /* margin-left: 2rem; */
  font-size: 1.25rem;
  margin: 1.5rem 0;
}

.description {
  /* margin-left: 2rem; */
  font-size: 1.15rem;
  font-weight: 100;
  color: hsl(215, 51%, 70%);
  width: 95%;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
}

.price-daysleft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.ethereum {
  /* display: flex; */
}

.eth {
  margin-left: 0.5rem;
  color: hsl(178, 100%, 50%);
}

.test {
  /* display: flex; */
}

.days-left {
  margin-left: 0.5rem;
  color:hsl(215, 51%, 70%);
}

.credits {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  border-top: 1px solid hsl(215, 51%, 70%);
}

.credits img {
  border: 1px solid white;
  border-radius: 50%;
  width: 2rem;
}

.credits p {
  margin-left: 1rem;
  /* border: 1px solid white; */
}

.creation {
  color: hsl(215, 51%, 70%);
}



.attribution {
  font-size: 11px; text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}