* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  color: hsl(0, 0%, 100%);
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: hsl(216, 50%, 16%);
  max-width: 16%;
  padding: 1.5rem;
}

/* figure {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.cube {
  background-image: url("./images/image-equilibrium.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  height: 19rem;
  width: 100%;
  border-radius: 10px;
}

.cube:hover {
  cursor: pointer;
  /* background-color: hsl(178, 100%, 50%); */
  background: url("./images/image-equilibrium.jpg") no-repeat center/cover,
    url("/images/icon-view.svg") no-repeat center hsl(178, 100%, 50%);
  background-blend-mode: overlay;
  /* opacity: 1; */
}

h1 {
  /* margin-left: 2rem; */
  font-size: 1.25rem;
  margin: 1.5rem 0;
}

h1:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

.description {
  /* margin-left: 2rem; */
  font-size: 1.15rem;
  font-weight: 100;
  color: hsl(215, 51%, 70%);
  width: 95%;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
}

.price-daysleft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.ethereum {
  /* display: flex; */
}

.eth {
  margin-left: 0.5rem;
  color: hsl(178, 100%, 50%);
}

.test {
  /* display: flex; */
}

.days-left {
  margin-left: 0.5rem;
  color: hsl(215, 51%, 70%);
}

.credits {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  border-top: 1px solid hsl(215, 51%, 70%);
}

.credits img {
  border: 1px solid white;
  border-radius: 50%;
  width: 2rem;
}

.credits p {
  margin-left: 1rem;
  color: hsl(215, 51%, 70%);
}

.creation {
  color: hsl(215, 51%, 70%);
}

.jules {
  color: white;
}

.jules:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Smaller screen version */
@media only screen and (max-width: 1368px) {
  main {
    max-width: 25%;
  }

  h1 {
    margin: 1rem 0;
  }

  .description {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

/* Tablet version */
@media only screen and (max-width: 850px) {
  main {
    max-width: 50%;
    max-height: 100%;
  }
}

/* Mobile version */
@media only screen and (max-width: 500px) {
  main {
    max-width: 90%;
  }
}
